@page "/Section2Component"
@{
    bool isContentVisible = true; // 초기에 내용이 펼쳐져 있도록 설정
}
<h3>Section2Component</h3>

<datalist id="data_list">
    <option value="2-1">
    </option>
</datalist>

<div>
    <h2> 2-1. cs 파일안에서 네임 스페이스 변수 메소드 만들기, cshtml 페이지 생성, 레이저 페이지 하나 생성</h2>
    <button @onclick="CallText">razor에서 @@code에 작성된 함수 불러오기</button>
</div>

<div>
    <h2>2-3강 div, h1, p 랑 span 태그 만들기, 이미지 웹 루트에서 불러오기, inpufile 만들기</h2>
    <div>
        <h3> div, h1, p 등 태그 써보기</h3>
        <h3>태그 써보기 </h3>
        <div>div 태그</div>
        <p>p 태그</p>
        <span>span 태그</span>
    </div>
    <div>
        <h3>웹 루트에서 이미지 불러오기</h3>
        <img src="img/sql server 네트워크 사용.png" alt="이미지 설명" />
    </div>

    <div>
        <h3>InputFile 태그 </h3>
        <InputFile OnChange="GetInputfileTag">GetInputfileTag</InputFile>
    </div>

</div>

<div>
    <h2>2-4. site.css에 코드 추가해 적용, razor.css 만들어서 적용시켜 보기, 딥 css를 삭제해서 변화 살펴보기</h2>
    <!--size.css 적용-->
    <p id="Test_cation">Test_cation</p>
    <p id="Test_sample">Test_sample</p>
    <div class="Red_Box">size.css 적용</div>
    <!--격리css(Index.razor.css)적용 -->
    <div class="Blue_Box">Index.razor.css 적용</div>
</div>

<div>
    <h2>2-6. Shared 폴더안에 razor 페이지를 만들기, 다른 폴더에서 만들어보기, 인덱스 페이지에서 새로만든 컴포넌트 데이터 전달</h2>

    @*공유페이지 호출*@
    <SharedComponent></SharedComponent>

    @*_Import.razor에 폴더 추가하지 않고, razor 페이지 호출하는 경우*@
    <BlazorApp1.Shared.Commons.SharedComponent2></BlazorApp1.Shared.Commons.SharedComponent2>

    @*_Import.razor에 폴더 추가한 후, razor 페이지 호출하는 경우
    @using BlazorApp1.Shared.Commons
    이거 한 줄 넣음.
    *@
    <SharedComponent2></SharedComponent2>

    @*파라미터 전달*@
    <SharedComponent3 GetText="부모 페이지에서 파라미터 전달된 문자열"></SharedComponent3>
</div>

@code {
    //230606 c# 코드를 작성하는 부분임.
    private List<string> Texts;
    private void initialize()
    {
        if (null != Texts)
        {
            Texts.Clear();
            Texts = null;
        }
        Texts = new List<string>(16);
        Texts.Add("블레이저 강의 보는 중");
        Texts.Add("index.razor와 index.cshtml은 같이 있으면 안 된다.");
        Texts.Add("지금 해봤는데 에러났음.");
        Texts.Add("그래서 하나 삭제함.");
    }
    public void CallText()
    {
        initialize();
        System.Console.WriteLine(string.Join("\n", Texts));
    }


    public void GetInputfileTag(InputFileChangeEventArgs _e)
    {
        List<string> texts = new List<string>();

        texts.Add("InputFile 태그는 파일 업로드다.");
        texts.Add("");
        texts.Add("");
        texts.Add("이 함수에서 출력하는 값은 이벤트로 받아온 파일 안에");
        texts.Add("이름을 가져온다.");
        texts.Add("");
        System.Console.WriteLine(string.Join("\n", texts));
        System.Console.Write(_e.File.Name);
    }
}
