@using Microsoft.AspNetCore.Components.Web
@namespace BlazorApp1.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />


    @*부트스트랩 연결하는 코드*@
    @*안 쓸 거면 이것만 지운다.*@
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />*@
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorApp1.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @*RenderBody: Pages 안의 페이지 몸통을 불러오는 역할
        Shared 폴더 안의 MainLayout.razor 파일을 불러옴.
    *@
    @RenderBody()

    @*blazor-error-ui: 에러 발생 시 출력되는 팝업창이므로 어지간해선 지우지 않는다.
    error 발생 시 어떻게 처리할지 정함.
    *@
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @*C# 코드를 자바스크립트로 변환하는 기능*@
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
