@* @Page 이 부분에서 라우팅으로 주소를 정할 수 있다.*@
@page "/"


@*페이지의 타이틀 넣는 곳*@
<PageTitle>Index 페이지</PageTitle>

@*html 코드 작성하는 부분*@
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


@code {
   


}
