#Test_cation {
    font-size: 24px;
    color: blue
}

#Test_sample {
    font-size: 40px;
    color: red
}

.Red_Box {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 5px
}

.Blue_Box {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 5px
}