<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SettingName" value="SettingValue" />
	</appSettings>
	<connectionStrings>
		<add name="DBConn" connectionString="server=192.168.56.59;user id=ktk;Password=1234;database=TwoMites" />
		<!--<add name="DBConn" connectionString="server=192.168.56.59;user id=ktk;Password=1234;database=TwoMites" providerName="System.Data.SqlClient" />-->
		<!-- C# 에서 사용법: 
		string cnString = ConfigurationManager.ConnectionStrings["DBConn"].ConnectionString;-->
	</connectionStrings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>