<div class="rounded border-1 bg-red py-3 px-2">
  <h3 class="text-dark text-black text-lg-start px-2">SharedComponent2 새로운 폴더 안에 만들어진 공유 페이지</h3>
  <p class="text-muted text-sm-start">제대로 실행 되는지 확인</p>
  
</div>
@code {

}
