@inherits LayoutComponentBase
@*LayoutComponentBase: 하단 코드처럼 구성하겠다고 선언한 형태*@

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    @*2-7. 블레이저에서 부트스트랩을 문제 없이 삭제하기
      1. 아래의 sidebar 태그를 통째로 지운다.
    <div class="sidebar">
      <NavMenu />
    </div>

    2. @code{} 안에 작성 된 것 싹 다 삭제함.

    3. MainLayout.razor.css 파일에 작성된 코드를 전부 삭제함.
    *@
    @*보라색의 사이드바*@
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*상단의 약간 회색의 헤더(제일 위쪽) 부분*@
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        @*주소에서 요청된 값에 따라 Pages -> .razor 페이지를 출력*@
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
