@inherits LayoutComponentBase

<PageTitle>BlazorApp1</PageTitle>

<div class="page">
    @*2-7. 블레이저에서 부트스트랩을 문제 없이 삭제하기
      1. 아래의 sidebar 태그를 통째로 지운다.
    <div class="sidebar">
      <NavMenu />
    </div>

    2. @code{} 안에 작성 된 것 싹 다 삭제함.

    3. MainLayout.razor.css 파일에 작성된 코드를 전부 삭제함.
    *@
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
