<div class="rounded-2 bg-danger border-1">
@*여기에 들어간 클래스 명은 부트스트랩 디자인 명이다. 
  쉽고 빠르게 디자인을 적용할 수 있다.
  부트스트랩 공홈 참고하면 많은 디자인들이 있으니 그거 참고하면 좋음.
*@


<h3 class="text-black">SharedComponent 페이지는 공유 페이지입니다.</h3>
<p class="text-muted">컴포넌트라고도 불리우는 공유페이지는 블레이저에서 자주 사용됩니다.</p>
</div>
@code {

}
